
/* ====================Header===================================== */
* {box-sizing: border-box;}
.header {
    overflow: hidden;
    background-color: #000000;
    padding: 20px 10px;
  }
.header a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 16px; 
    line-height: 25px;
    border-radius: 4px;

}
  
  .header a.logo {
    font-size: 28px;
    font-weight: bold;
    margin-left: 70px;
}
  
  .header a:hover {
    color: rgb(187, 132, 204);
    
}
  
  .header a.active {
    margin-right: 30px;
    background-color: rgb(187, 132, 204);
    color: rgb(0, 0, 0);
    font-weight: 500;
}
  
  .header-right {
    float: right;
}

/* ==============================================================================*/
.column {
    float: left;
    width: 35%;
}
.row{
    margin-left:22%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
    
}
.body-content {
    padding-top: 10vh;
}

.container {
    width: 350px;
    height: 452px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 2px solid White;
    border-radius: 15px;
    background: #8787c5;
}

.logo {
    margin-top: 0px;
    padding-top: 0;
}

.logo img {
    width: 100px;
    border-radius: 50px;
}

h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

.form-item {
    margin: 5px;
    padding-bottom: 10px;
    display: flex;
}

.form-item label {
    display: block;
    padding: 2px;
    font-size: 20px;
    width: 100px;
}

.form-item input {
    width: 320px;
    height: 35px;
    border: 2px solid #e1dede69;
    border-radius: 20px;
    background: white;
    color: black;
    text-align: center;
}

.remember-box {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
}


.remember-box a {
    text-decoration: none;
    color: white;
    margin-left:30px;

}
.remember-box a:hover {
    color:grey;
}

.form-btns {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px 0;
}

.form-btns button {
    margin: auto;
    font-size: 20px;
    padding: 5px 15px;
    border: 0;
    border-radius: 15px;
    color: rgb(75, 61, 61);
    background: #fbba50;
    width: 280px;
    cursor: pointer;
}
.form-btns button:hover {
    background: #d88a0c;
    color: antiquewhite;
}

.options {
    padding-top: 15px;
    margin: auto;
}

.options a {
    text-decoration: none;
    color: white;
    margin: 0 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.options a:hover {
    color:grey;
}

p {
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* ==============================footer========================================================= */


footer{
    width: 100%;

    bottom: 0;
    left: 0;
    background: #111;
  }
  footer .content{
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer .content p,a{
    color: #fff;
  }
  footer .content .box{
    width: 33%;
    transition: all 0.4s ease;
  }
  footer .content .topic{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
  }
  footer .content p{
    text-align: justify;
  }
  footer .content .lower .topic{
    margin: 24px 0 5px 0;
  }
  footer .content .lower i{
    padding-right: 16px;
  }
  footer .content .middle{
    padding-left: 80px;
  }
  footer .content .middle a{
    line-height: 32px;
  }
 
  footer .content .media-icons a{
    font-size: 16px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid #222222;
    margin: 30px 5px 0 0;
    transition: all 0.3s ease;
  }
  .content .media-icons a:hover{
    border-color: rgb(187, 132, 204);
  }
  footer .bottom{
    width: 100%;
    text-align: right;
    color: #d9d9d9;
    padding: 0 40px 5px 0;
  }
  footer .bottom a{
    color: rgb(187, 132, 204);
  }
  footer a{
    transition: all 0.3s ease;
  }
  footer a:hover{
    color: rgb(187, 132, 204);
  }
